@charset "UTF-8";

@font-face {
    font-family:'make' ;
    src: url('fontes/Make the Best - Personal Use.otf') 
    format('opentype');
    font-style: normal;
}

h1{
    font-family: 'make';
    font-size: 4em;

}
